.textBlue {
  color: blue;
}

/*edit second line of wikipedia page*/
#line2 {
  text-align:
}

#wiki {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  padding-bottom: 10px;
}
.columnOne {
  width: 500px;
  float: left;
  border: 1px solid teal;
  padding: 5px;
  background-color: #CEEED4;
}

.jumbotron {
  margin-top: 20px;
  border: 1px solid black;
  height: 200px;
}

.columnTwo {
  width: 600px;
  float: left;
  border: 1px solid teal;
  padding: 5px;
  margin-left: 10px;
  background-color: #CFE5EA;
}

.columnThree {
  width: 100%;
  border: 1px solid purple;
  background-color: #E6D3F0;
  margin: 4px;
}

.columnTwo h4 {
  font-weight: bold;
  border: 1px solid black;
  padding: 4px;
  margin-left: 5px;
  background-color: #68B2C2;
}

.columnOne h4 {
  font-weight: bold;
  border: 1px solid black;
  padding: 4px;
  background-color: #A0D8A9

}

.columnThree h4 {
  border: 1px solid black;
  background-color: #CB8BF0;
  padding: 4px;
  margin: 5px;
}

#hurricane {
  float: left;
  padding-right: 10px;
}

#larvae {
  float: right;
  padding-bottom: 10px;
}

#jayne {
  float: right;
  padding-left: 10px;
}

#wilbert {
  float: left;
  height: 400px;
  width: 300px;
  padding-right: 10px;
}
.w3-sidebar {
  width: 20%;
  float: left;
  margin-left: 10px;
}

.w3-sidebar li {
  margin-left: -40px;
  list-style: none;
}

.w3-sidebar a {
  color: blue;
}
